
<div class="wrapper">
  <header>

    <h1>Alison Ong</h1>
    <p></p>
    <p style="color:#6f777d;font-weight:bold">PhD Candidate, Stanford University</p>

    <p></p>

    <p>Insert bio here.

    <hr width="100%">

        <p><a href="/cv/CV_Madalsa.pdf">Curriculum Vitae</a></p>



    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/alisonjong" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
    </div>

    <p>
      alisonjo@stanford.edu
    </p>

  </header>
</div>
