
<div class="wrapper">
  <header>

    <h1>Alison Ong</h1>
    <p></p>
    <p style="color:#6f777d;font-weight:bold">PhD Candidate, Stanford University</p>

    <p></p>

    <p>I am a fourth year PhD Candidate at Stanford University in the Emmett Interdisciplinary Program for Environment and Resources. I work at the intersection of environmental/energy economics, political economy, and engineering. 

    <hr width="100%">

        <p><a href="/Papers/Ong_Alison_current_CV.pdf">Curriculum Vitae</a></p>



    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://www.linkedin.com/in/alisonjong/" class="is-icon"><i class="fa fa-linkedin"></i></a></div>
    </div>

    <p>
      alisonjo@stanford.edu
    </p>

  </header>
</div>
